<h1>LENDIT</h1>

<h3>PROUDLY SPONSORED BY</h3>
<p>Huge thanks to all our amazing sponsors!</p>

<p>From its inception in 2013, LendIt LendIt Conference is the must-attend event for anyone looking to learn how Peer-to-Peer and online lending are revolutionizing the credit markets and transforming the global banking industry. </p>

<p>Join the revolution!</p>

<p>For more information on sponsoring LendIt, email <a href="mailto:sponsors@lendit.co">sponsors@lendit.co</a></p>

<!-- <table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Site url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @sponsors.each do |sponsor| %>
      <tr>
        <td><%#= sponsor.company_name %></td>
        <td><%#= sponsor.image %></td>
        <td><%#= sponsor.description %></td>
        <td><%#= sponsor.site_url %></td>
        <td><%#= link_to 'Show', sponsor %></td>
        <td><%#= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%#= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Sponsor', new_sponsor_path %> -->
