<nav class="navbar navbar-default navbar-fixed-top main-menu link-scroll" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <%#= image_tag "https://s3.amazonaws.com/LAI/LAI-680w.png", :id => "nav-logo", :alt => "Lend Academy Investments Logo" %>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand test" href="#"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#">EVENTS</a></li>
        <li><a href="/sponsors">SPONSORS</a></li>
        <li><a href="#">SPEAKERS</a></li>
        <li><a href="#">VIDEOS</a></li>
        <li><a href="#">BUY TICKETS!</a></li>
        <!-- <li><a href="https://twitter.com/lendacademy" id="bird" target="_new"><i class="fa fa-twitter"></i></a></li> -->
      </ul>
<!--         <a href="https://twitter.com/lendacademy" target="_new"><i class="fa fa-twitter"></i></a> -->
    </div><!--/.nav-collapse -->
<!--     <div class="collapse navbar-collapse">
      <ul>
      </ul>
    </div> -->
  </div>
</nav>
